/* [class*="col-"], .col {
    border: 1px dashed black;
}
.row {
    border: 1px dashed black;
} */

body {
    background-image: url("../images/crystal-background.jpg")
}

h1 {
    background-color: aqua;
    color: white;
}

.one {
    background-color:white;
    color: black;
}

.two {
    background-color: aqua;
    color: white;
}
.three {
    background-color: purple;
    color: white;
}

